body{
	padding: 0;
	margin: 0;
}

.container{
	width: 100%;
	margin:0 auto;
}

.cover_profil{
	width: 100%;
	height: 500px;
}

.cover_profil .cover{
	width: 100%;
	height: 350px;
}

.cover_profil .cover img {
	width: 100%;
	height: 350px;
}

.cover_profil .profil{
	width: 200px;
	height: 200px;
	position: relative;
	top: -150px;
	left: 15px;
	border-radius: 3px;
	display: inline-block;
	float: left;
}

.cover_profil .profil img{
	width: 200px;
	height: 200px;
	border-radius: 3px;
}

.judul{
	float: left;
	position: relative;
	left: 30px;
	top:-60px;
	font-family: arial;
	color: white;
}

.cover_profil .name{
	
	display: inline-block;
	position: relative;
	left: -410px;
	top: 70px;
	font-family: arial;
}

.button{
	position: relative;
	top: 60px;
	left: -175px;
}

.wrapper{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
}

ul{
  list-style: none;
  width: 100%;
}

ul li{
  width: 70px;
  float: left;
  margin: 0 25px;
  height: 70px;
  background: black;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

ul li .fa{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
}

ul li:before{
  content: attr(data-tooltip);
  width: 120px;
  height: 45px;
  position: absolute;
  top: -70px;
  left: -25px;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  opacity: 0;
  color: white;
  font-weight: bold;
  background: black;
  text-transform: uppercase;
  font-family: arial;
  transition: all 0.5s ease;
}

ul li:hover:before,
ul li:hover:after{
  opacity: 1;
  transition: all 0.5s ease;
}

ul li:after{
  content: "";
  position: absolute;
  top: -25px;
  left: 18px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
  border-bottom: 15px solid transparent;
  opacity: 0;
  transition: all 0.5s ease;
}

@media screen and (max-width: 700px){
  .wrapper{
    top: 75%;
  }
  ul{
    width: 100px;
  }
  ul li{
    margin: 0px 0;
  }
}
